<h1>My Trailmarkers</h1>
<table>
<tr>
  <th>Trailmarker name</th>
  <th>Trailmarker description</th>
</tr>
	<% @trailmarkers.each do |trailmarker| %>
		<td><%= trailmarker.name %></td>
		<td><%= trailmarker.description %></td>
	<% end %>
</table>
