<div class="center hero-unit"> 
  <h1>Welcome to Trailblaze!</h1>
  <p>Follow your own path or walk beside friends.</p>

  <%= link_to "Start Blazin'", signup_path, class: "btn btn-warning btn-primary" %>
</div>