<h1>My Badges</h1>
<table>
<tr>
  <th>Badge name</th>
  <th>Badge description</th>
  <th>Badge Status</th>
</tr>
  <% @badges.each do |badge| %>
    <td><%= badge.name %></td>
    <td><%= badge.description %></td>
    <td><%= badge.status %></td>
  <% end %>
</table>
