<h1><%= @user.name %></h1>
<% if @trail.any? then %>
	<%= link_to 'Trails', trail_path, class: 'btn btn-warning btn-large' %>
	<% else %>
	<%= link_to 'New Trail', new_trail_path, class: 'btn btn-warning btn-large' %>
<% end %>

