<h1>My Trails</h1>
  <th>Trail Name</th>
  <th>Trail Description</th>
</tr>
<% @trails.each do |trail| %>
<tr>
		<td><%= trail.name %></td>
		<td><%= trail.description %></td>
	<% end %>
</tr>
</table>
